---
layout: _container.html
title: faq
mehndiPalette: ["#344e41", "#557054", "#588157", "#e2dbbe", "#d4af37", "#a16207", "#800020"]
haldiPalette: ["#d4af37", "#f9c74f", "#fede35", "#f5ec75", "#fff57c", "#fffaba", "#fefbe8"]
shaadiPalette: ["#f94144", "#f3722c", "#f8961e", "#f9c74f", "#90be6d", "#43aa8b", "#577590"]
---

<div class="w-full">
  <div class="max-w-3xl mx-auto">

    <h2>Table of Contents</h2>
    <div class="mx-3 mt-3 mb-6">
      <ol class="text-sm text-gray-800">
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#flights">Flights</a></li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#trip-dates">Trip Dates</a></li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#visas-travel-documents">Visas/Travel
            Documents</a></li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#clothing">Clothing</a></li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#accommodation">Accommodation</a>
        </li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#transportation">Transportation</a>
        </li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline"
            href="#sightseeing-recommendations">Sightseeing Recommendations</a></li>
        <li class="mb-1"><a class="font-medium underline hover:no-underline" href="#money">Money</a></li>
        <li class=""><a class="font-medium underline hover:no-underline" href="#miscellaneous-tips">Miscellaneous
            Tips</a></li>
      </ol>
    </div>

    <h2 id="flights">Flights</h2>

    <div class="mx-3 mt-3 mb-6">
      <p class="text-sm text-gray-800">
        You'll want to fly into Indira Gandhi International Airport (DEL). Google
        Flights will likely be your best bet for exploring flight options. There are a few airlines you'll be able to
        choose from.
      </p>

      <div class="flex items-center gap-1 text-xs italic mt-1">
        <div class="h-6 border-2 rounded border-emerald-800 my-1"></div>
        <strong class="text-emerald-800 flex-shrink-0">Hot tip!</strong>
        <p class="text-gray-600">
          Seats in front of the bulkhead will have more leg room.
        </p>
      </div>

      <h3>Turkish Airlines</h3>
      <p class="text-sm text-gray-800">
        A great option if you've got some wiggle room in your dates. Turkish Airlines
        provides <a class="external-link font-medium underline hover:no-underline"
          href="https://www.turkishairlines.com/en-int/flights/fly-different/touristanbul/what-is-touristanbul/"
          target="_blank">Touristanbul</a>, a free layover service for all international transfer through Istanbul. If
        you fly via Istanbul and have a 6-24 hour layover time, they'll provide transportation to and from historic
        sites & restaurants in Istanbul. A pretty cool way to get some sightseeing in one of Aparajita's favourite
        cities in the world!
      </p>

      <h3>Ethiopian Airlines</h3>
      <p class="text-sm text-gray-800">
        A good choice if you're interesting in bumping up to business class -- they
        tend to have good business class fares.
      </p>

      <h3>Air Canada/Air India</h3>
      <p class="text-sm text-gray-800">
        These two airlines operate codeshare flights and frequently provide direct
        flights to Delhi from Toronto, Montreal, or Vancouver. The direct flights are long (16 hours) but will get you
        there fastest. They'll typically span 7AM Canada time to 11PM India time which can be helpful in managing jet
        lag.
      </p>

      <h3>Egypt Air</h3>
      <p class="text-sm text-gray-800">Similarly to Turkish Airlines, Egypt Air also provides sightseeing day trips if
        your layover allows it.</p>
    </div>

    <h2 id="trip-dates">Trip Dates</h2>

    <div class="mx-3 mt-3 mb-6">
      <p class="text-sm text-gray-800">Key dates you'll want to keep in mind (depending on what events you're
        attending):</p>
      <ol class="my-3">
        <li class="text-sm text-gray-800 flex gap-2">
          <p class="font-bold text-emerald-800 w-20 text-right pr-1 border-r border-emerald-800">Oct 11</p>
          <p>Wedding events for Digvijay & Zahin</p>
        </li>
        <li class="text-sm text-gray-800 flex gap-2">
          <p class="font-bold text-emerald-800 w-20 text-right pr-1 border-r border-emerald-800">Oct 12-14</p>
          <p>Wedding events for Tomas & Aparajita</p>
        </li>
        <li class="text-sm text-gray-800 flex gap-2">
          <p class="font-bold text-emerald-800 w-20 text-right pr-1 border-r border-emerald-800">Oct 15</p>
          <p>Joint reception for both couples</p>
        </li>
      </ol>

      <p class="text-sm text-gray-800">
        We recommend arriving at least 3 days in advance to get over jet lag. You'll probably want to visit for at
        least 10-14 days if you're interested in doing some sightseeing around Delhi & India. Come a bit earlier if
        you want to do some shopping for clothes before any of the wedding events. There are lots of street markets
        you can explore in Delhi. See the <a class="font-medium underline hover:no-underline" href="#clothing">clothing
          FAQ section</a> section for more info!
      </p>
    </div>

    <h2 id="visas-travel-documents">Visas/Travel Documents</h2>

    <div class="mx-3 mt-3 mb-6">
      <h3>eVisa</h3>
      <p class="text-sm text-gray-800">
        Canadian passport holders need a visa to visit India. We recommend applying for the 1- or 5-year
        <strong>multiple entry</strong> visa. These will allow you to leave and return (in case you're traveling to
        countries outside of India during your trip) and can be applied for up to 120 days before your trip. While
        there <span class="italic">is</span> a 30-day visa, it can only be applied for 30 days in advance of travel
        and it's <strong class="text-red-900">single entry only</strong>.
      </p>

      <p class="text-sm text-gray-800 mt-2">
        eVisas can be applied for online (via <a class="external-link font-medium underline hover:no-underline"
          href="https://indianvisaonline.gov.in/evisa/tvoa.html" target="_blank">this link</a>) and have had a rapid
        turnaround time (~1 day) for Canadian guests who've already applied. There's no guarantee this will remain the
        case
        however so apply as early as you can!
      </p>

      <h3>Vaccinations</h3>
      <p class="text-sm text-gray-800">
        You may need some vaccines to travel to India (or other destinations you're planning to visit). We recommend
        booking a consultation with a local travel immunization clinic: they'll tell you what vaccines are recommended
        based on your intended destinations. Start this process early however since some vaccinations may need
        multiple doses and travel clinics can sometimes have a bit of a backlog.
      </p>

      <h3>Travel Documents Checklist</h3>
      <ul>
        <li>
          <input type="checkbox" class="rounded border border-emerald-900 text-emerald-700" />
          <label class="text-sm text-gray-800">Printed copy of eVisa</label>
        </li>
        <li>
          <input type="checkbox" class="rounded border border-emerald-900 text-emerald-700" />
          <label class="text-sm text-gray-800">Proof of vaccination(s) (especially yellowfever for guests coming from
            Africa)</label>
        </li>
        <li>
          <input type="checkbox" class="rounded border border-emerald-900 text-emerald-700" />
          <label class="text-sm text-gray-800">Passport with 6 months of validity left from <strong>last</strong> day
            of travel</label>
        </li>
      </ul>
    </div>

    <h2 id="clothing">Clothing</h2>

    <div class="mx-3 mt-3 mb-6">
      <h3>Weather</h3>
      <p class="text-sm text-gray-800">
        Delhi in October usually sees highs of 33°C and lows of 21°C. It is worth bringing sweaters/layers -- many
        places in India don't have central heating so it can be cold indoors too. This information comes from
        Aparajita though who is cold at 24°C. For those of you travelling there, southern India tends to be hotter
        than northern India.
      </p>

      <h3>Event Themes/Colours</h3>

      <p class="text-sm text-gray-800">
        Many Indian wedding events have traditional colours that guests will wear. We've listed the pertinent ones
        below. These are encouraged but not mandatory.
      </p>

      <ol class="mt-3">
        <li class="flex gap-2 items-center">
          <div
            class="flex-grow-0 flex-shrink-0 w-16 py-2 pr-1 border-r border-emerald-800 flex self-stretch items-center">
            <p class="font-light text-emerald-800 text-right w-full">Mehndi</p>
          </div>
          <div class="flex">
            {% for paletteColor in mehndiPalette %}
            <div style="background-color: {{ paletteColor }}"
              class="border border-black h-3 w-3 sm:h-5 sm:w-5 ml-1 first:ml-0 rounded-full"></div>
            {% endfor %}
          </div>
          <p class="text-sm text-gray-800">Greens, golds, and reds</p>
        </li>
        <li class="flex gap-2 items-center">
          <div
            class="flex-grow-0 flex-shrink-0 w-16 py-2 pr-1 border-r border-emerald-800 flex self-stretch items-center">
            <p class="font-light text-emerald-800 text-right w-full">Haldi</p>
          </div>
          <div class="flex">
            {% for paletteColor in haldiPalette %}
            <div style="background-color: {{ paletteColor }}"
              class="border border-black h-3 w-3 sm:h-5 sm:w-5 ml-1 first:ml-0 rounded-full"></div>
            {% endfor %}
          </div>
          <p class="text-sm text-gray-800">Yellows, whites, and lights</p>
        </li>
        <li class="flex gap-2 items-center">
          <div
            class="flex-grow-0 flex-shrink-0 w-16 py-2 pr-1 border-r border-emerald-800 flex self-stretch items-center">
            <p class="font-light text-emerald-800 text-right w-full">Shaadi</p>
          </div>
          <div class="flex">
            {% for paletteColor in shaadiPalette %}
            <div style="background-color: {{ paletteColor }}"
              class="border border-black h-3 w-3 sm:h-5 sm:w-5 ml-1 first:ml-0 rounded-full"></div>
            {% endfor %}
          </div>
          <p class="text-sm text-gray-800">Any bright colours</p>
        </li>
      </ol>

      <h3>Indian Dress</h3>

      <p class="text-sm text-gray-800">
        Here's a quick overview of the basic types of Indian outfits you could wear. Indian wear isn't
        <i>mandatory</i> but it is encouraged!
      </p>

      <ol class="flex flex-col gap-4 mt-4">
        <li>
          {% imageCard "/assets/img/kurta-men.jpg" "Kurta (Men)" "left" %}
          <p class="text-sm text-gray-800">
            A long, dress-like top worn with big, flowy pants that snug up around the calves. For men, this will
            pretty much be your bread and butter -- Kurta styles range from the day-to-day casual to more formal or
            extravagant.
          </p>
          {% endimageCard %}
        </li>

        <li>
          {% imageCard "/assets/img/kurta-women.jpg" "Kurta (Women)" "right" %}
          <p class="text-sm text-gray-800">
            Similar to the basic kurtas worn by men. Women will often wear kurtas with a <i>chunni</i> (a light
            scarf). They'll also typically have a wider selection of pant types -- loose, snug, flared, etc.
          </p>
          {% endimageCard %}
        </li>

        <li>
          {% imageCard "/assets/img/lehnga.jpg" "Lehnga" "left" %}
          <p class="text-sm text-gray-800">
            A large skirt paired with a short top and worn with a <i>chunni</i> (a light scarf). This ladies' outfit
            is comfy and easy to wear, making it a good choice for nights with dancing.
          </p>
          {% endimageCard %}
        </li>

        <li>
          {% imageCard "/assets/img/saree.jpg" "Saree" "right" %}
          <p class="text-sm text-gray-800">
            A long piece of cloth you wrap around yourself, with a short blouse and petticoat underneath. Sarees can
            be a bit particular to wrap correctly and they'd be tough to manage on the dance floor, but don't let that
            dissuade you! There are tons of people who'd love nothing more than to show you the ropes.
          </p>
          {% endimageCard %}
        </li>

      </ol>

      <h3>Buying Indian Clothes</h3>

      <h4>Malls</h4>
      <p class="text-sm text-gray-800">
        All the big malls in Delhi will have stores where you can buy off the shelf sizes. Common retailers include:
      </p>
      <ul class="list-disc text-sm text-gray-800 list-outside ml-6">
        <li>Pantaloons</li>
        <li>Global Desi</li>
        <li>Biba's</li>
        <li>Fab India (one of the more authentic/old school options)</li>
        <li>Lifestyle</li>
        <li>Kilol</li>
        <li>Anhoki</li>
      </ul>

      <h4>Markets</h4>
      <p class="text-sm text-gray-800">
        The street markets of Delhi are great for both sightseeing and finding clothing, souvenirs, etc. These are the
        markets we'd recommend for your visit.
      </p>

      <a class="w-fit mt-1 text-sm font-medium underline hover:no-underline text-yellow-700 flex gap-0.5 items-center"
        target="_blank" href="https://goo.gl/maps/pFZLVxMm6ktRg5vD9">
        Dilli Haat
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Local artisan market in Delhi where you can find handmade items.
      </p>

      <a class="w-fit mt-1 text-sm font-medium underline hover:no-underline text-yellow-700 flex gap-0.5 items-center"
        target="_blank" href="https://goo.gl/maps/8n84EYvkxw87Rfhx6">
        Janpath Market
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Street shopping in Delhi where you can find both Indian and Western clothes, and lots of other handcrafts
      </p>

      <a class="w-fit mt-1 text-sm font-medium underline hover:no-underline text-yellow-700 flex gap-0.5 items-center"
        target="_blank" href="https://goo.gl/maps/qgwyDzsKJejBxSbu7">
        Chandni Chowk
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Massive wholesale market in Old Delhi. Well connected by metro but no cars allowed. It can be a bit
        difficult to navigate without guidance as it is both huge and crowded. A fun experience just to visit, but
        don't bank on finding what you need if you don't know exactly where to go.
      </p>

      <a class="w-fit mt-1 text-sm font-medium underline hover:no-underline text-yellow-700 flex gap-0.5 items-center"
        target="_blank" href="https://goo.gl/maps/wdTsnQwAmzZGnXTNA">
        Sarojini Nagar
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Similar to Chandni Chowk but in southern/central Delhi, which might be easier to get to. Again, great prices
        & selection but can be large to navigate.
      </p>

    </div>

    <h2 id="accommodation">Accommodation</h2>

    <div class="mx-3 mt-3 mb-6">
      <p class="text-sm text-gray-800">
        During the event days (Oct 11-15), we will be providing accommodation & food for wedding guests at various
        locations in Delhi and Gurugram. Before and after these days, you'll want to find accommodation in Delhi or
        wherever you'll be traveling.
      </p>

      <h3>AirBnB</h3>
      <p class="text-sm text-gray-800">
        AirBnBs in Delhi are a good option, especially if you're looking to share accommodations with other guests.
        Expect to pay around $100-$300 CAD per night for 3-4 bedroom houses.
      </p>

      <p class="mt-1 text-sm text-gray-800">
        Near central Delhi, the neighbourhoods we'd recommend are:
      </p>

      <ul class="text-sm text-gray-800 list-disc list-inside ml-6">
        <li>Connaught Place (<i>not Pahar Ganj</i>)</li>
        <li>Bengali Market</li>
        <li>Gol Market</li>
        <li>Mandi House</li>
      </ul>

      <p class="mt-1 text-sm text-gray-800">
        In South Delhi, you'll find some artsier neighbourhoods. The ones we'd recommend there are:
      </p>
      <ul class="text-sm text-gray-800 list-disc list-inside ml-6">
        <li>Haus Kauz</li>
        <li>Greater Kailash</li>
      </ul>

      <p class="mt-1 text-sm text-gray-800">
        If you have other neighbourhoods you're interested in, feel free to reach out to us to get the scoop on them.
      </p>

      <h3>Hotels</h3>

      <p class="text-sm text-gray-800">
        There are a ton of hotel options in Delhi. These will typically be more expensive than AirBnBs but you'll have a
        higher guarantee for a comfortable stay. Expect a range of $80-$200 CAD for hotels, depending on how nice the
        hotel is. We've had good experiences with the following hotels in central Delhi:
      </p>
      <ul class="text-sm text-gray-800 list-disc list-inside ml-6">
        <li>Treebo Group of Hotels (good economy hotel choices)</li>
        <li>Park Hotel</li>
        <li>Imperial Hotel</li>
      </ul>

      <p class="mt-1 text-sm text-gray-800">
        This list is certainly not exhaustive. Feel free to explore other options and contact us if you have any questions. Again, the neighbourhoods we recommend around central Delhi are:
      </p>
      <ul class="text-sm text-gray-800 list-disc list-inside ml-6">
        <li>Connaught Place (<i>not Pahar Ganj</i>)</li>
        <li>Bengali Market</li>
        <li>Gol Market</li>
        <li>Mandi House</li>
      </ul>

    </div>

    <h2 id="transportation">Transportation</h2>

    <div class="mx-3 mt-3 mb-6">
      <h3>Within Delhi</h3>
      <p class="text-sm text-gray-800">
        You've got a couple options for mobility within the city.
      </p>

      <h4>Rideshare</h4>
      <p class="text-sm text-gray-800">
        Rideshare apps (Uber, Ola, Lyft) are all widely available, take credit cards, and are fairly cheap.
      </p>

      <h4>Metro</h4>
      <p class="text-sm text-gray-800">
        The metro system of Delhi is very well connected but can be a bit crowded, especially at peak
        imes. </p>

      <h4>Car Rental</h4>
      <p class="text-sm text-gray-800">
        If you're looking at renting a car, rent one with a driver. It will be hard to find a rental car without a
        driver and you probably don't want to drive in Delhi anyways. Expect to pay about $50 CAD per day for the
        rental & driver.
      </p>

      <h3>Outside Delhi</h3>

      <h4>Travel Agent</h4>
      <p class="text-sm text-gray-800">
        Our recommended travel agent can help with flight, train, hotel, and tour package bookings in India or abroad.
        He offers price matching/beating on prices or deals you find online. Feel free to text him on WhatsApp 24
        hours a day.
      </p>

      <div class="max-w-sm flex flex-col border rounded-lg shadow-lg p-5 mt-4 mb-8">
        <div class="flex flex-row gap-1 mb-2">
          <p class="text-sm text-gray-800 font-bold">Anubhav Chand</p>
          <div class="self-stretch border-r border-gray-500"></div>
          <p class="text-sm text-gray-500 font-light">Touchwood Travels</p>
        </div>
        <a class="w-fit text-sm text-gray-600 font-light underline decoration-dotted"
          href="mailto:touchwoodtravels@gmail.com"><span class="font-bold">Email</span> touchwoodtravels@gmail.com</a>
        <p class="text-sm text-gray-600 font-light"><span class="font-bold">WhatsApp</span> +91 9910008829</p>
        <p class="text-sm text-gray-600 font-light"><span class="font-bold">Address</span> BE 47 Shalimar Bagh, New
          Delhi</p>
      </div>

      <h4>Trains</h4>
      <p class="text-sm text-gray-800">
        India has one of the oldest and most well connected train systems. It's worth taking a trip just for the
        experience! Bookings can be made online and in advance (tickets <i>do</i> tend to fill up, so don't wait too
        long). First or second class bookings are not much more expensive and are well worth the additional comfort.
      </p>

      <h4>Cars</h4>
      <p class="text-sm text-gray-800">
        Rental cars (with drivers) are also a good, cheap, and convenient option. 3-4 hour drive trips to e.g., Agra,
        Jaipur are a great candidate for a 1 or 2 day rental.
      </p>

      <h4>Flights</h4>
      <p class="text-sm text-gray-800">
        You'll be able to find cheap, well connected flights to all major cities from Delhi. Booking well in advance
        will
        get you the best rates.
      </p>
    </div>

    <h2 id="sightseeing-recommendations">Sightseeing Recommendations</h2>

    <div class="mx-3 mt-3 mb-6">
      <h3>In Delhi</h3>
      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/hGdTX8iXRXoCuFeG9">
        Jantar Mantar
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Old, stone-built astronomical instruments.
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/FUqGb6szDcttzADbA">
        Lodhi Gardens
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Beautiful gardens with deer roaming the grounds. Lots of restaurants in the area make it a good place to spend a
        lunch.
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/CbokiTATGjJR7Xhz7">
        Nehru Planetarium
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/phbKTCrxr3Hb3iyZA">
        National Museum
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/aGWxDM9wFQkWLCnE7">
        Bahai Lotus Temple
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Very cool architecture
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/jpN8YtsW1xqcTbba6">
        Jama Masjid
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Largest mosque in India, located in Old Delhi.
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://www.gpsmycity.com/tours/old-delhi-walking-tour-2663.html">
        Walking Tours of Old Delhi
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        The linked site has a "self-guided" tour. There would also be paid guided options if that's your cup of tea
        instead.
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="http://hohodelhi.com">
        Hop-on Hop-off Bus Tours
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Regularly running buses doing a loop of common tourist destinations. You are free to hop off at any tourist
        attraction that interests you and can hop on the next bus that passes by.
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/pGhw7UQdCX4AkiXr5">
        India Gate
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Monument
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/JWYjJiWMbMire8oM6">
        Purana Qila <i class="text-xs font-light">(Old Fortress)</i>
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Riverside stone fortress with ramparts, the Mughal-style Humayan Gate, and a 16th-century mosque. Offers a sound & light show in the evenings!
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/iDNozTacedLkr8bs6">
        Lal Qila <i class="text-xs font-light">(Red Fortress)</i>
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        Red stone fortress. Offers a sound & light show in the evenings!
      </p>

      <a class="w-fit hover:underline text-sm font-bold text-yellow-700 flex gap-0.5 items-center" target="_blank"
        href="https://goo.gl/maps/N4qceTG234CBeAJs5">
        Qutub Minar
        {{ "/assets/img/arrow-top-right-on-square.svg" | svgContents: "h-3 w-3" }}
      </a>
      <p class="text-sm text-gray-800">
        73m-tall tower built in 1193 by Qutab-ud-din Aibak after defeating Delhi's last Hindu kingdom.
      </p>

      <h3>Outside Delhi</h3>
      <p class="text-sm text-gray-800">
        For the longer sightseeing trips (single- or multi- day trips out of Delhi) most of you already have plans
        more-or-less sorted. If you are looking for other ideas though, give us a shout! We've got a pretty broad list
        of recommendations & ideas.
      </p>

      <div class="flex items-center gap-1 text-xs italic mt-3">
        <div class="h-6 border-2 rounded border-emerald-800 my-1"></div>
        <strong class="text-emerald-800 flex-shrink-0">Hot tip!</strong>
        <p class="text-gray-600">
          Check out <a class="underline hover:italic" href="https://www.rome2rio.com" target="_blank">Rome2Rio</a> to
          list ways to travel between two destinations -- it'll break down options for flights, trains, buses, ferries,
          etc., and can be super helpful in deciding on a travel option.
        </p>
      </div>
    </div>

    <h2 id="money">Money</h2>

    <div class="mx-3 mt-3 mb-6">
      <h3>Credit Cards</h3>
      <p class="text-sm text-gray-800">
        Credit cards (Visa, Mastercard, most merchants also accept Amex) are pretty widely accepted in India.
      </p>

      <h3>Cash</h3>
      <p class="text-sm text-gray-800">
        If you're planning on exchanging USD in cash, note that $50/$100 bills will get better conversions and note that
        only new series bills will be accepted (i.e., bills before 2006 won't work). Convert in the city for better
        rates than at the airport.
      </p>

      <h3>Wise/TransferWise</h3>
      <p class="text-sm text-gray-800">
        We've had good experiences using Wise (formerly Transferwise) for converting between international currencies.
        They've recently come out with a multi-currency debit card that would allow you to top up your balance in CAD,
        then spend in INR using the card. They tend to offer way better exchange rates than banks in our experience.
        They also offer a digital card here (Google/Apple Pay). Nice thing here is you'd be converting on-demand, so you
        wouldn't have to worry about converting too much then losing out on the exchange rate twice.

      <div class="flex items-center gap-1 text-xs italic mt-3">
        <div class="h-6 border-2 rounded border-emerald-800 my-1"></div>
        <strong class="text-emerald-800 flex-shrink-0">Hot tip!</strong>
        <p class="text-gray-800">
          Referral link to sign up here: <a class="font-medium underline hover:no-underline"
            href="https://wise.com/invite/ahpc/tomasg" target="_blank">https://wise.com/invite/ahpc/tomasg</a>
        </p>
      </div>
    </div>

    <h2 id="miscellaneous-tips">Miscellaneous Tips</h2>

    <div class="mx-3 mt-3">
      <h3>Phone Plans</h3>
      <p class="text-sm text-gray-800">
        Get a local Indian SIM card at the airport after arrival. You'll need to provide them with your passport to get
        the SIM. Data plans are super cheap in India -- expect to pay ~$5 CAD for a 30-day plan offering 2GB of mobile
        data <i>per day</i> (yes, seriously).
      </p>

      <h3>Crime/Pickpocketing</h3>
      <p class="text-sm text-gray-800">
        Pickpocketing is not a huge issue (not any more than e.g., downtown Toronto). Aggressive sales/slimy tourist
        traps are more common though. This includes things like:
      </p>

      <ul class="text-sm text-gray-800 list-outside list-disc ml-6 mt-1">
        <li>people offering to take your picture (then harassing you for money afterwards)</li>
        <li>people trying to sell you crap</li>
        <li>"follow me, I'll help you find a nice hotel/I know a shop with the best prices"</li>
      </ul>

      <p class="text-sm text-gray-800 mt-3">
        If you give in to one person the rest will pounce (not aggressively/dangerously, but you'll keep getting
        harassed).
      </p>

      <h3>Personal Boundaries</h3>
      <p class="text-sm text-gray-800">
        Staring is pretty common in India. If you're white, blonde, or a woman you'll get stared at a lot. Engaging even
        a little bit (e.g., head nod and "hi" as you're walking by) will get you a <i>lot</i> of attention so keep that
        in mind.
      </p>
      <p class="text-sm text-gray-800 mt-3">
        Indian "personal bubbles" are a fair bit smaller than Canadian standards, especially if you're in a queue.
        People will be standing <i>right</i> behind you. It's not rude or aggressive, they're just used to packing lots
        of population into not lots of space, and will do so even when there's plenty of room. This will not necessarily
        be as bad as we're making it out to sound -- it'll mainly be concentrated to e.g., waiting in line at a shop,
        trying to get on a train, etc.
      </p>

      <h3>English</h3>
      <p class="text-sm text-gray-800">
        India has 20+ "official" languages and a lot more dialects -- even Indians can find themselves somewhere they
        don't speak the language with a few hours of travel. This means English is the "language of business" in India,
        and most people will speak it fairly well. You shouldn't have too much difficulty getting around anywhere in the
        country.
      </p>
    </div>
  </div>
</div>
